html {
    background: black;
}

body {
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    padding: 5%;
    padding-top: 5em;
    background: url("background_photo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

@media (max-width: 600px) {
    body {
        padding: 0%;
        padding-top: 6em;
    }
}

a, .add_new:hover {
    color:brown;
}

.add_new {
    color:rgb(226, 171, 105)
}

.register, .login {
    font-size: 1.2em;
}

.nav-login-logout {
    color: white;
    padding-inline-end: 2em;
}

.nav-link:hover {
    color: rgb(226, 171, 105);
}

#list_of_cards, #dynamic_search {
    margin-top: 2em;
}

.basic-info {
    white-space: pre;
    margin: 0em;
}

.full-form {
    color: rgba(255, 255, 255, 0.864);
    background-color: rgba(0, 0, 0, 0.6);
    padding-inline: 3em;
    padding-block: 1em;
    padding-bottom: 2em;
    border-radius: 10px;
}

.drink-card {
    background-color: rgba(255, 255, 255, 0.739);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.btn-light {
    background-color: rgb(229 75 75 / 25%);
    color: white;
}

.submit_form_button {
    background-color:rgba(165, 42, 42, 0.809);
    margin-top: 1em;
}

.login, .register {
    color: rgba(15, 14, 14, 0.873);
    background-color: rgba(255, 255, 255, 0.6);
    padding-inline: 3em;
    padding-block: 1em;
    padding-bottom: 1em;
    border-radius: 10px;
}

.pag-menu {
    padding-block: 2em;
}

.page-link {
    color: black;
}

.pagination-color {
    background-color: rgba(165, 42, 42, 0.494);
    color:white;
}

.hidden-input-div {
    width: 20em;
    max-width: 100%;
}

.hidden-button {
    background-color:rgba(165, 42, 42, 0.809);
}

.multiselect {
    display: inline-block;
    background-color: white;
    height: 16rem;
  }

.row-form {
    padding-bottom: 0.6em;
}

.category_sel {
    width: 15em;
}

.search_bar {
    width: 30em;
}

.drink-mini {
    min-height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.favorite_button_div {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 1em;
}

.favorite_button {
    background-color:rgba(0, 0, 0, 0);
    border: none;
}

.favorite_button:focus, .favorite_button:active, .favorite_button:focus-visible, .favorite_button:focus:active, .favorite_button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}

.single-name {
    text-align: center;
    margin:auto;
    margin-left: 0em;
}

.upper-part {
    padding-top: 1em;
}

.instructions {
    margin-top: 1em;
    background-color: rgba(183, 145, 105, 0.207);
    padding: 1em;
    padding-bottom: 1.5em;
    margin-top: 3em;
    margin-bottom: 2em;
}

.basic-group {
    text-align: right;
}

.main-content {
    text-align: left;
    margin-right: auto;
    padding-right: 3em;
}

.main-image {
    max-width: 85%;
    text-align: center;
}

.main-window {
    margin: 0%;
    padding-bottom: 2em;
}

.left-side {
    text-align: center;
}

.upper-part {
    background-color: rgba(253, 253, 253, 0.907);
}

.card-title {
    margin-bottom: 1em;
}

.card-text {
    margin: 0;
}

.cards-favorites {
    max-width: 70em;
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
}

.card-favorite {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.delete-button {
    position:absolute;
    bottom:1.5em;
    right:1.5em;
}

.not_a_button {
    width: 2em;
}



  
.fade-in-left {
	animation: fade-in-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-18 18:23:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
 @keyframes fade-in-left {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  

.fade-in-bck {
	animation: fade-in-bck 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-18 18:29:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
 @keyframes fade-in-bck {
    0% {
      transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
  