{% extends "shaker/layout.html" %}
{% load static %}

{% block body %}


<div class="row row-cols-1 row-cols-md-5 g-4 cards-favorites">
    {% for drink in favorites %}
        <div class="col">
          <div class="card h-100 card-favorite">

            <a href="{% url 'drink_page' drink.name %}">
                <img src="
                    {% if drink.image_url %}
                        {{ drink.image_url }} 
                    {% else %}
                        {% static 'shaker/cheers.png' %}
                    {% endif %}" class="card-img-top drink-mini" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title">{{ drink.name }}</h5>
              <p class="card-text">{{ drink.category }}</p>
              <p class="card-text">{{ drink.glass }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                    {% if drink.alcoholic %}
                        Alcoholic
                    {% else %}
                        Non-alcoholic
                    {% endif %}
              </small>
            </div>
          </div>
        </div>
    {% endfor %}
</div>

{% endblock %}