{% extends "shaker/layout.html" %}
{% load static %}

{% block body %}

<div class="full-form">
    <h1>Welcome to MyShaker</h1>
    <br>

    <div>
        <div>
            <h3>Search for drinks and cocktails by name</h3>
            <form autocomplete="off" class="d-flex" role="search" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input id="search_bar" class="form-control me-2 search_bar" type="search" placeholder="Search" aria-label="Search" name="drink_name">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
        </div>
        <br>
        <div class="category_sel">
            <h3>Choose category</h3>
            <select id="select_category" class="form-select" aria-label="Default select example">
                <option selected>All drinks</option>
                {% for category in categories %}
                <option>{{ category }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<hr>

<div id="dynamic_search"></div>

<div id="list_of_cards">
    <div>
    {% for drink in page_obj %}
       

        <div class="card mb-3 fade-in-left drink-card" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="{% url 'drink_page' drink.name %}">
                    <img src="
                        {% if drink.image_url %}
                            {{ drink.image_url }} 
                        {% else %}
                            {% static 'shaker/cheers.png' %}
                        {% endif %}
                    " class="img-fluid rounded-start drink-mini" alt="...">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ drink.name }}</h5>
                  <p class="card-text">{{ drink.category }}</p>
                  <p class="card-text">{{ drink.glass }}</p>
                  <p class="card-text"><small class="text-muted">
                    {% if drink.alcoholic %}
                        Alcoholic
                    {% else %}
                        Non-alcoholic
                    {% endif %}
                    </small></p>
                </div>
              </div>
            </div>
          </div>

    {% endfor %}
</div>

<!-- pagination menu -->
<div class="pag-menu">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo; first</a></li>
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">previous</a></li>
        {% endif %}

        <li class="page-item pagination-color"><a class="page-link btn-dark pagination-color" href="">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
            
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">next</a></li>
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">last &raquo;</a></li>
        {% endif %}
    </ul>
  </div>

</div>

{% endblock %}


{% block script %}
    <script src="{% static 'shaker/dynamic_search.js' %}"></script>
{% endblock %}