{% extends "shaker/layout.html" %}

{% block body %}
<h1>Lucky drink for you!</h1>



    <h2>{{ drink.strDrink }}</h2>
    <img src={{ drink.strDrinkThumb }} alt='' width='200' height='auto'>
    <div>
        <p class="basic-info">Category:   {{ drink.strCategory }}</p>
        <p class="basic-info">Glass:   {{ drink.strGlass }}</p>
        <p class="basic-info">Type:   {{ drink.strAlcoholic }}</p>
    </div>
    
    <div>
        <h4>Ingredients:</h4>
        {% for ing in ingredients %}
            <li>{{ ing }}</li>
        {% endfor %}
    </div>
    <h4>How to prepare:</h4>
    <div> {{ drink.strInstructions }}</div>

{% endblock %}
