{% extends "shaker/layout.html" %}

{% block body %}
<h1>Lucky drink for you!</h1>



    <h2>{{ drink.name }}</h2>
    <img src={{ drink.image_url }} alt='' width='400' height='auto'>
    <div>
        <p class="basic-info">Category:   {{ drink.category }}</p>
        <p class="basic-info">Glass:   {{ drink.glass }}</p>
        {% if drink.alcoholic %}
        <p class="basic-info">Type:   Alcoholic</p>
        {% else %}
        <p class="basic-info">Type:   Non-alcoholic</p>
        {% endif %}
    </div>
    
    <div>
        <h4>Ingredients:</h4>
        {% for ingredient in drink.ingredients.all %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </div>
    <h4>How to prepare:</h4>
    <div> {{ drink.instructions }}</div>

{% endblock %}
